* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
}

/* HEADER */
.main-header {
    width: 100%;
    background: #ffffff;
    padding: 18px 30px;
    border-bottom: 2px solid #dddddd;
}

.main-header h1 {
    font-size: 24px;
}

/* LAYOUT */
.container {
    display: flex;
    height: calc(100vh - 72px);
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: #fff;
    padding: 20px;
    border-right: 2px solid #ddd;
}

.top-bar {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn {
    background: #d0d0d0;
    padding: 12px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
}

.btn:hover {
    background: #bcbcbc;
}

/* DASHBOARD */
.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #fafafa, #e8e8e8);
}

/* ROWS */
.urgency-row {
    display: flex;
    align-items: center;
    padding: 25px 0;
    border-bottom: 3px dotted black;
}

.urgency-row:last-child {
    border-bottom: none;
}

/* FACES */
.face {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: relative;
    margin-left: 20px;
}

/* COLORS */
.red-face {
    background-color: #e45a47;
}

.orange-face {
    background-color: #eca443;
}

.yellow-face {
    background-color: #f0e64c;
}

.green-face {
    background-color: #9ed36a;
}

/* EYES */
.eyes {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 55%;
    display: flex;
    justify-content: space-between;
    transform: translateX(-50%);
}

.eyes::before,
.eyes::after {
    content: "";
    width: 12px;
    height: 12px;
    background: #333;
    border-radius: 50%;
}

/* MOUTHS */
.mouth {
    position: absolute;
    bottom: 25%;
    left: 50%;
    width: 45px;
    height: 22px;
    border-radius: 50%;
    border: 5px solid #333;
    border-top: none;
    transform: translateX(-50%);
}

.sad {
    border-bottom: none;
    border-top: 5px solid #333;
}

.neutral {
    width: 40px;
    height: 6px;
    border-radius: 0;
    border: none;
    background: #333;
}

.happy {
    border-bottom: 5px solid #333;
    border-top: none;
}
