/* MOUTHS */
.mouth {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* ORANGE – Simple frown (upside-down smile) */
.orange-face .mouth {
    width: 45px;
    height: 20px;
    border-radius: 0 0 100px 100px;
    border-bottom: none;
    border-top: 5px solid #333;
    bottom: 25%;
}

/* RED – Filled frown */
.red-face .mouth {
    width: 55px;
    height: 28px;
    background: #333;
    border-radius: 0 0 60px 60px;
    bottom: 22%;
}

/* GREEN – Simple smile */
.green-face .mouth {
    width: 45px;
    height: 20px;
    border-radius: 100px 100px 0 0;
    border-top: none;
    border-bottom: 5px solid #333;
    bottom: 25%;
}
