* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    height: 100vh;
}

.container {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background: #fff;
    padding: 20px;
    border-right: 2px solid #ddd;
}

.top-bar {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn {
    background: #d0d0d0;
    padding: 12px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
}

.btn:hover {
    background: #bcbcbc;
}

/* MAIN DASHBOARD GRID */
.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #fafafa, #e8e8e8);
}

/* Urgency Rows */
.urgency-row {
    display: flex;
    align-items: center;
    padding: 25px 0;
    border-bottom: 3px dotted black;
}

.urgency-row:last-child {
    border-bottom: none;
}

.icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 30px;
}

/* Colors */
.red {
    background-color: #e45a47;
}

.orange {
    background-color: #eca443;
}

.yellow {
    background-color: #f0e64c;
}

.green {
    background-color: #9ed36a;
}

.row-content h3 {
    font-size: 20px;
    margin-bottom: 5px;
}
